build*/
dbuild*/
Debug/
Release/
__pycache__/
.vs/
.vscode/
*.db
*.pyc
*.rdbg
._*
.cache
.DS_Store
external/wayland-protocols/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
