[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/OpenXR-SDK"]
	path = external/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "external/OpenXR-Docs"]
	path = external/OpenXR-Docs
	url = https://github.com/KhronosGroup/OpenXR-Docs.git
