#  Global catch-all rule
* @bradgrantham-lunarg

/android/                                     @antonio-lunarg
/ci/                                          @beau-lunarg
/external/AgilitySDK/                         @davidd-lunarg
/framework/application/                       @charles-lunarg
/framework/decode/                            @jzulauf-lunarg
/framework/decode/*ags*                       @davidd-lunarg
/framework/decode/*d3d12*                     @davidd-lunarg
/framework/decode/*dx12*                      @davidd-lunarg
/framework/decode/dx_replay_options.h         @davidd-lunarg
/framework/decode/*vulkan*                    @fabian-lunarg
/framework/decode/*frame_loop*                @antonio-lunarg
/framework/decode/*json*                      @mikes-lunarg
/framework/decode/*_replay_dump_resources*    @panos-lunarg
/framework/encode/                            @jzulauf-lunarg
/framework/encode/*ags*                       @davidd-lunarg
/framework/encode/*d3d12*                     @davidd-lunarg
/framework/encode/*dx12*                      @davidd-lunarg
/framework/encode/*vulkan*                    @fabian-lunarg
/framework/format/                            @jzulauf-lunarg
/framework/generated/khronos_generators/      @fabian-lunarg
/framework/generated/*dx12*                   @davidd-lunarg
/framework/generated/*vulkan*                 @fabian-lunarg
/framework/generated/**/*frame_loop*          @antonio-lunarg
/framework/graphics/*frame_loop*              @antonio-lunarg
/framework/graphics/*dx12*                    @davidd-lunarg
/framework/graphics/*vulkan*                  @fabian-lunarg
/framework/util/                              @jzulauf-lunarg
/framework/util/interception/                 @davidd-lunarg
/framework/**/android/                        @antonio-lunarg
/layer/ags_capture/                           @davidd-lunarg
/layer/d3d12*/                                @davidd-lunarg
/layer/dxgi/                                  @davidd-lunarg
/layer/gfxrecon_interceptor/                  @davidd-lunarg
/layer/json/VkLayer*                          @fabian-lunarg
/layer/layer_vulkan*                          @fabian-lunarg
/layer/VkLayer*                               @fabian-lunarg
/layer/vk_layer*                              @fabian-lunarg
/test/                                        @beau-lunarg
/tools/                                       @MarkY-LunarG
/tools/convert/                               @mikes-LunarG
/tools/replay/                                @davidd-lunarg
/tools/**/*d3d12*                             @davidd-lunarg
/tools/**/*vulkan*                            @fabian-lunarg
